<h1>Animations</h1>

Toggle All Animations <input type="checkbox" [checked]="!animationsDisabled" (click)="toggleAnimations()"/>

<nav>
  <a id="home" routerLink="/home" routerLinkActive="active">Home</a>
  <br>
  <a id="about" routerLink="/about" routerLinkActive="active">About</a>
  <br>
  <a id="open-close" routerLink="/open-close" routerLinkActive="active">Open/Close</a>
  <br>
  <a id="status" routerLink="/status" routerLinkActive="active">Status Slider</a>
  <br>
  <a id="toggle" routerLink="/toggle" routerLinkActive="active">Toggle Animations</a>
  <br>
  <a id="enter-leave" routerLink="/enter-leave" routerLinkActive="active">Enter/Leave</a>
  <br>
  <a id="auto" routerLink="/auto" routerLinkActive="active">Auto Calculation</a>
  <br>
  <a id="heroes" routerLink="/heroes" routerLinkActive="active">Filter/Stagger</a>
  <br>
  <a id="hero-groups" routerLink="/hero-groups" routerLinkActive="active">Hero Groups</a>
</nav>

<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>