<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <script src="js/angular.js"></script>
  <title></title>
</head>
<body ng-controller="myCtrl">

<table>
  <thead>
  <tr>
    <th>选中</th>
    <th>姓名</th>
    <th>生日</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="obj in list">
    <td>
      <input type="checkbox" ng-model="obj.isSelected" ng-click="funcClick()"/>
    </td>
    <td>
      {{obj.name}}
    </td>
    <td>
      {{obj.birthday}}
    </td>
  </tr>
  </tbody>
</table>
<hr/>
<input type="checkbox" ng-checked="select" ng-click="checkAll()" />全选/取消全选
<hr/>

<button ng-click="checkStatus()">查看</button>




<script src="js/ngCheck.js"></script>

</body>
</html>